/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
} */

.pdf-div{
    padding: 50px;
    background-color: #dedede;
    margin-top: 50px;
}

canvas.react-pdf__Page__canvas {
    margin-bottom: 15px;
}


  