/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
} */

.pdf-div{
    padding: 50px;
    background-color: #dedede;
    margin-top: 50px;
}

canvas.react-pdf__Page__canvas {
    margin-bottom: 15px;
}

.footer{
    padding: 50px;
    margin: 50px;
    display: block;
    align-items: center;

}

.nameHeader{
    padding: 15px;
    margin: 15px;
    margin-left: 50px;
    color: blue;
    font-weight: bold;
}

.aboutMeContainer {
    background-color: blue;
    color:black;
    font-family: 'Raleway', sans-serif;
    padding-top: 60px;
}

.contact_form .form-control {
    padding: 1.375rem .75rem;
    line-height: 1.5;
    color: #ffffff;
    background-color:lightblue;
    border-radius: 0 !important;
    border: 1px solid #ffffff;
}

.contact_form .input.form-control {
    margin-bottom: 2em;
    height: calc(2.4em + .75rem + 2px);
}

.btn {
   color: white; 
   border: 2px solid white;
}

.btn:hover {
    color: white;
}

.me-auto {
    margin-left: auto!important;
}

.footer-links {
    display: block;
    background-color: var(--red);
    color: var(--white);
    flex-wrap: wrap;
}

/* .mainNavbar {
    display: flex;
    justify-content: end;
    background-color: yellow;
} */